
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                      
                    <div class="row">
                            <h2>Login</h2>
                       
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" #userLogin="ngForm" (ngSubmit)="onLogin(userLogin)" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" 
                                    name="email"
                                    tabindex="1" 
                                    class="form-control" 
                                    placeholder="email" 
                                    value="" 
                                    ngModel 
                                    #email="ngModel"
                                    email
                                    required
                                    >
                                    <span class="help-block" *ngIf="email.invalid && email.touched" >Please enter email correctly</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" 
                                    name="password" 
                                    tabindex="2" 
                                    class="form-control" 
                                    placeholder="Password" 
                                    ngModel 
                                    #password="ngModel"
                                    required>
                                    <span class="help-block" *ngIf="password.invalid && password.touched" >Please enter password</span>

                                </div>
                                    <div class="alert alert-danger" role="alert" *ngIf="loginMessege">
                                        <span class=""><label for="">{{loginMessege}}</label></span>
                                    </div>
                                
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" 
                                            name="login-submit" 
                                            id="login-submit" 
                                            tabindex="4" 
                                            class="form-control btn btn-login" 
                                            value="Log In"
                                            [disabled]="userLogin.invalid"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <a class="pull-right" routerLink ="/register">Register</a>
                               
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>